body {
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .search-form {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 10px 0 10px 0;
  
    width: 100%;
    background: #4a69bd;
    margin: 10px auto;
    z-index: 999;
    /* height: 50px; */
  }
  
  input {
    background: #c1cfee;
    font-size: 10pt;
    padding: 10px;
    width: 300px;
    border-radius: 25px;
    border: none;
    padding-left: 30px;
  }
  
  input::placeholder {
    color: #65737e;
  }
  
  input:focus {
    color: rgb(0, 0, 0);
    outline: none;
  }
  
  button.search-btn {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;
  }
  
  .search-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .load-more {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 40px;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 0.9em;
    font-weight: 700;
  
    background-color: #4a69bd;
    color: white;
    border-color: white;
    border-radius: 5px 5px 5px 5px;
    border-width: 0.1em;
  
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  
    /* position: absolute; */
    transform: translateX(-1000vw);
    transition: transform 250ms ease-in-out;
    /* transform: scale(0.08); */
  }
  
  .load-more.is-visible {
    transform: translateX(0);
  }
  
  /*------------------- Gallery ----------------*/
  
  .gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto 0;
    /* margin: -10px; */
  }
  
  .img-item {
    display: flex;
    justify-content: center;
    border: 1px gray;
    width: 100%;
    height: 200px;
  }
  
  .photo-card {
    box-shadow: 0px 14px 5px -5px rgba(10, 78, 131, 0.45);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .photo-card:hover {
    transform: scale(1.03);
  }
  
  a {
    display: block;
    margin: 10px auto;
    flex-basis: calc(100% / 5 - 20px);
    justify-content: center;
    border-width: 1px;
    border-color: gray;
    text-decoration: none;
  }
  
  .info {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    color: rgb(228, 232, 241);
    background-color: rgb(69, 90, 184);
    border-radius: 0 0 5px 5px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    font-size: 0.7em;
  }